@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap'); /*fonte h1*/

@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap'); /*fonte h2*/

@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap'); /*fonte p*/

* {
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
}
body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    background: rgba(0, 0, 0, 0);
background: linear-gradient(90deg, rgba(255,0,0,0) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 60%, rgba(255,0,0,0) 100%);

}

.cabecalho{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 100vw;
    z-index: 999;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);

}

a{
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.596);
}
a:hover{
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 6px;
    font-weight: bold;
    padding: 6px;
    color: black;
    transition-duration: 0.3s;
}
.menu{
    display: flex;
}
.item{
    font-family: "Playfair", serif;
    list-style-type: none;
    text-shadow: 2px 2px 5px rgb(0, 0, 5);
    padding: 10px;
}
.inicio{
    margin-top: 0;
    width: 100vw;
    padding: 100px 0;
    background-image: url(imagens/teclado.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 1px 1px 5px rgb(0, 0, 5);
    transition-duration: 0.5s;
}
.inicio > h1 {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 5px rgb(0, 0, 5);
    font-size: 33px;
    text-align: center;
    font-family: "Bodoni Moda SC", serif;

}
.inicio > h2 {
    font-family: "Mate SC", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 5px rgb(0, 0, 5);
    font-size: 20px;
    text-align: center;

}
.principal {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: justify;
    width: 80vw;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.596);
    transition-duration: 0.5s;

}
section {
    margin: 40px 0;
}
h1{
    font-family: "Bodoni Moda SC", serif;
    font-size: 30px;
    padding: 10px 0;
    text-shadow: 2px 2px 5px rgb(0, 0, 5);
    transition-duration: 0.5s;

}
p{
    width: 300px;
    padding: 0px 40px;
    font-family: "Playfair", serif;
    font-weight: 400;
    font-style: normal;
    transition-duration: 0.5s;

}
section .sobre > p {
    text-indent: 40px;

}


.formulario {
    display: flex;
    flex-direction: column;
    width: 70vw;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.596);
    padding: 20px 50px 50px 50px;
    gap: 10px;
    border-radius: 20px;
    transition-duration: 0.5s;
}
.formulario input, .formulario textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
}
/*Responsividade*/
/*Telas médias*/
@media (min-width: 768px) {
    .principal{
        width: 60vw;
        align-items: center;
        transition-duration: 0.5s;
    }
    h1 {
        padding-right: 20px;
        transition-duration: 0.5s;

    }

    .formulario{
        width: 50vw;
    }

}


/*Telas grandes*/
@media (min-width: 1024px) {
    body, html {

    }
    .principal{
        width: 70vw;
        align-items: center;
        padding: 30px; 
        transition-duration: 0.5s;


    }

    .sobre > h1 {
        width: 100px;
        padding-right: 0px;
        transition-duration: 0.5s;

    }
    .sobre > p{
        padding: 0 10px;
        transition-duration: 0.5s;

    }
    .formulario{
        width: 40vw;
    }
    section .sobre {
        display: flex;
    }
    section .formacao {
        display: flex;
    }
    section .idiomas {
        display: flex;
    }
}