@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
/*fonte h1*/

@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
/*fonte h2*/

@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
/*fonte p*/

* {
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
}

body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
    background: rgb(5, 5, 5);
    scroll-behavior: smooth;

}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 22vw;
    z-index: 999;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);

}

a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.596);
}

nav a:hover {
    cursor: pointer;
    background-color: rgba(1, 182, 158, 0.2);
    border-radius: 6px;
    padding: 8px;
    transition: background-color 0.4s ease;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.item {
    font-family: "Playfair", serif;
    list-style-type: none;
    text-shadow: 2px 2px 5px rgb(0, 0, 5);
    margin: 20px 0;
    width: 100%;
}

#capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../imagens/teclado.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(3px) brightness(0.2);
    z-index: 2;

}

.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-left: 22vw;
    width: 100vw;
    height: 100vh;
    transition-duration: 0.5s;
    z-index: 3;

}

.inicio>h1 {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 5px rgb(0, 0, 5);
    font-size: 36px;
    width: calc(100vw - 22vw);
    text-align: center;
    font-family: "Bodoni Moda SC", serif;
    box-sizing: border-box;
}

.inicio>h2 {
    font-family: "Mate SC", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 5px rgb(0, 0, 5);
    font-size: 16px;
    text-align: center;

}

.seta> a > img {
    width: 25px;
    opacity: 0.8;
    animation: pulsar 2s infinite ease-in-out;
    transition: all 0.3s ease;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    filter: blur(1px) brightness(0.2);
}

.principal {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: justify;
    width: calc(100vw - 22vw);
    width: 50vw;
    padding: 12px;
    margin: 90px 0;
    transition-duration: 0.5s;
    z-index: 2;
}

section {
    z-index: 2;
    margin-top: 40px;
}

h1 {
    font-family: "Bodoni Moda SC", serif;
    font-size: 30px;
    padding: 20px;
    text-shadow: 2px 2px 5px rgb(0, 0, 5);
    transition-duration: 0.5s;
}

p {
    width: 300px;
    padding: 0px 40px;
    font-family: "Playfair", serif;
    font-weight: 400;
    font-style: normal;
    transition-duration: 0.5s;

}

#p1,
#p2>p {
    text-indent: 40px;

}

.competencias {
    margin-left: 22vw;
    width: calc(100vw - 20vw);
    width: 70vw;
    height: 100vh;
}

.competencias>h1 {
    font-size: 25px;
}

h2 {
    font-size: 16px;
    margin: 20px 0 5px 0;
    text-align: center;
}

#prog,
#ferramentas,
#design {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.596);
}

#prog img,
#ferramentas img,
#design img {
    width: 40px;
    height: auto;
    margin: 10px;
    transition: transform 0.3s;
}

#prog img:hover,
#ferramentas img:hover,
#design img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.titulo {
    position: relative;
    display: inline-block;
}

.titulo .nometitulo {
    visibility: hidden;
    width: 94px;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.titulo:hover .nometitulo {
    visibility: visible;
    opacity: 1;
}

.porfolio {
    margin-left: 22vw;
    width: calc(100vw - 20vw);
    height: 100vh;
}

.portfolio>h1 {
    font-size: 25px;
    margin-left: 22vw;
}

.portfolio img {
    width: 50vw;
    margin-left: 22vw;
    border-radius: 6px;
    transition-duration: 0.5s;
}

.portfolio img:hover {
    border-radius: 20% 0;
    filter: brightness(0.6);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 60px;
    margin-top: 80px;
    padding: 20px;
    z-index: 999;

}

#redesSociais {
    display: flex;

}

h3 {
    font-size: 16px;
    padding: 0 20px;
}

#redesSociais>a {
    margin-right: 20px;
}

#redesSociais>a:hover {
    opacity: 0.8;
}

#copy {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#copy>p {
    width: auto;
    margin-top: 20px;
}

/* SCROLL*/
.inicio,
.sobre,
.formacao,
.idiomas,
.portfolio,
.competencias,
.contato {
    visibility: hidden;
}


/*Responsividade*/
/*Telas médias*/
@media (min-width: 768px) {
    .principal {
        background-color: rgba(0, 0, 0, 0.459);
        border-radius: 20px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.596);
        width: 50vw;
        margin-left: 22vw;
        align-items: center;
        transition-duration: 0.5s;
    }

    h1 {
        padding-right: 20px;
        transition-duration: 0.5s;

    }

    .competencias {
        width: 50vw;
    }

    a {
        font-size: 16px;
    }

}


/*Telas grandes*/
@media (min-width: 1024px) {

    .principal {
        background-color: rgba(0, 0, 0, 0.459);
        border-radius: 20px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.596);
        width: 70vw;
        margin-left: 12vw;
        align-items: center;
    }

    .inicio {
        margin-left: 12vw;
        width: calc(100vw - 12vw);
    }

    .inicio>h1 {
        width: calc(100vw - 12vw);
    }

    .inicio>h2 {
        width: calc(100vw - 12vw);
    }

    .sobre>h1 {
        width: 100px;
        padding-right: 0px;
        transition-duration: 0.5s;

    }

    .sobre>p {
        padding: 0 10px;
        transition-duration: 0.5s;

    }

    section .sobre {
        display: flex;
    }

    #paragrafosSobre {
        display: flex;
        flex-direction: row;
    }

    section .formacao {
        display: flex;
    }

    section .formacao>p {
        margin-top: 50px;
    }

    section .idiomas {
        display: flex;
    }

    section .idiomas>p {
        margin-top: 50px;

    }

    .competencias {
        margin-left: 12vw;
        width: 50vw;
    }

    .cabecalho {
        width: 12vw;
    }

    a {
        font-size: 16px;
    }
}

@keyframes pulsar {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0.8;
    }
}